@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Karla", sans-serif;
}

.footer_links-icons {
  font-size: 30px;
  color: hsl(273, 4%, 51%);
}
